/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster/Lobster1.4.eot");
    src: url("../fonts/Lobster/Lobster1.4.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lobster/Lobster1.4.woff") format("woff"),
    url("../fonts/Lobster/Lobster1.4.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}